---
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import { fetchPosts } from "../api/post";
import PostSection from "../components/PostSection.astro";
import RootLayout from "../components/layouts/RootLayout.astro";

const { blok } = Astro.props;

const posts = await fetchPosts();
---

<RootLayout title={blok.title}>
  <header class="px-8 py-4">
    {
      blok.header.map((component: any) => (
        <StoryblokComponent blok={component} />
      ))
    }
  </header>

  <main>
    {blok.body.map((component: any) => <StoryblokComponent blok={component} />)}

    {blok.show_posts && <PostSection posts={posts} />}
  </main>
</RootLayout>
