---
import type { HeaderSectionBlok } from "../types/storyblok/test-space";

type Props = {
  blok: HeaderSectionBlok;
};

const { blok } = Astro.props;
---

<div class="flex items-center gap-2">
  <figure class="[&_svg]:size-8">
    <Fragment set:html={blok.svg} />
  </figure>
  <span class="font-medium">{blok.title}</span>
</div>
