---
import RootLayout from "../components/layouts/RootLayout.astro";
---

<RootLayout title="/">
  <main class="h-dvh grid place-content-center">
    <h1>Root</h1>
    <a href="/home" class="hover:underline hover:text-orange-600"
      >Ir a/ Inicio</a
    >
  </main>
</RootLayout>
